---
import Layout from '#layouts/Layout.astro'
import * as GUIDE_STEPS from '#pages/guides/[topic]/[scope]/guide_steps'
import * as GUIDES from '#pages/guides/guides'
import Prose from '#components/prose.astro'

export async function getStaticPaths() {
	let entries = await GUIDE_STEPS.getCollection()
	let guides = GUIDES.getCollection(entries)

	let topics = [...new Set(guides.map(({topic}) => topic))]

	return topics.map((topic: string) => {
		return {
			params: {
				topic,
			},
			props: {
				guides: guides.filter((guide) => guide.topic === topic),
			},
		}
	})
}

const {guides} = Astro.props
const {params} = Astro
---

<Layout>
	<Prose>
		<small>
			⇠ <a href="/">chan.dev</a>
		</small>
		<main class="mt-4">
			<h1 class="tracking-tight">
				A chantastic guide to {params.topic}
			</h1>
			<ul>
				{
					guides.map((guide) => (
						<li>
							<a
								href={`/guides/${params.topic}/${guide.scope}`}
							>
								{guide.scope}
							</a>
						</li>
					))
				}
			</ul>
		</main>
	</Prose>
</Layout>
