---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import * as LESSONS from "@pages/lessons/lessons";

const lessons = await LESSONS.getCollection();
---

<Layout content_path={LESSONS.path()}>
  <main class="prose">
    <ul>
      {
        lessons.map((entry) => (
          <li>
            <a href={`/${LESSONS.path(entry.slug)}`}>
              {entry.slug}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    title={LESSONS.title()}
    description="A collection of small, focused, action-oriented lessons by chantastic."
    path={LESSONS.path()}
    slot="page-meta"
  />
</Layout>
