---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import PostNotWritten from "@components/body-page-not-written.astro";
import * as USES from "@pages/uses/uses";

export async function getStaticPaths() {
  const posts = await USES.getCollection();
  return posts.map((entry) => ({
    params: { uses_entry: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: USES.CollectionEntry;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const title =
  entry.data.manufacturer && entry.data.model
    ? `${entry.data.manufacturer} ${entry.data.model}`
    : entry.slug;
---

<Layout>
  <div class="prose">
    <small>
      ⇠ <a href="/">chan.dev</a>
      / <a href={`/${USES.path()}`}>uses</a>
    </small>
    <main class="mt-4">
      <h1>{title}</h1>
      {
        entry.data.links &&
          entry.data.links.map((link) => (
            <div>
              <a href={link}>
                Buy{" "}
                {link.includes("amzn.to") ? "on Amazon" : "now"}
              </a>
            </div>
          ))
      }
      {
        entry.body ? (
          <Content />
        ) : (
          <PostNotWritten path={USES.path(entry.slug)} />
        )
      }
      {
        entry.data.links && (
          <small>
            Links are affiliate links. As an affiliate, I
            recieve a small commission on the purchase.
          </small>
        )
      }
    </main>
  </div>
  <PostMeta
    slot="page-meta"
    title={title}
    description={`${title} review`}
    path={USES.path(entry.slug)}
  />
</Layout>
