---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import PostNotWritten from "@components/body-page-not-written.astro";
import * as USES from "@pages/uses/uses";

export async function getStaticPaths() {
  const posts = await USES.getCollection();
  return posts.map((entry) => ({
    params: { uses_entry: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: USES.CollectionEntry;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

let title;

if (entry.data.manufacturer && entry.data.model) {
  title = `${entry.data.manufacturer} ${entry.data.model}`;
} else {
  title = entry.slug;
}
---

<Layout content_path={USES.path(entry.id)}>
  <main class="prose">
    <article>
      <small>
        <a href="/" class="go-home">⇠ chan.dev</a>
      </small>
      <h1 class="mb-2 mt-6">
        <a href={`/${USES.path()}`}>uses</a> /
        {title}
      </h1>
      {
        entry.body ? (
          <Content />
        ) : (
          <PostNotWritten path={USES.path(entry.slug)} />
        )
      }
      <Content />
    </article>
  </main>
  <PostMeta
    slot="page-meta"
    title={title}
    description={`${title} review`}
    path={USES.path(entry.slug)}
  />
</Layout>
