---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
import {renderEntry} from '#lib/content-entry'
import {
	getGuideInstructionalEntries,
	instructionalPath,
	instructionalTitle,
} from '#lib/instructional'
import * as GUIDES from '#content/guides/_guides'

export async function getStaticPaths() {
	const guides = await GUIDES.getCollection()

	return guides.map((guide) => ({
		params: {guide_slug: GUIDES.guideSlug(guide)},
		props: {guide},
	}))
}

interface Props {
	guide: GUIDES.CollectionEntry
}

const {guide} = Astro.props
const {Content} = await renderEntry(guide)
const lessonSteps = await getGuideInstructionalEntries(
	GUIDES.guideSlug(guide)
)
---

<Layout>
	<Prose as="div" class="grid grid-cols-3 gap-8">
		<main class="col-span-2">
			<h1>{guide.data.title}</h1>
			<Content />
		</main>
		<nav>
			<ol>
				{lessonSteps.map((item) => (
					<li>
						<a href={instructionalPath(item)}>
							{instructionalTitle(item)}
							{item.entry.data.status === 'draft' && <span> [draft]</span>}
						</a>
					</li>
				))}
			</ol>
		</nav>
	</Prose>
</Layout>
