---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import ShareBar from "@components/post-share-bar.astro";
import BodyHiddenShare from "@components/body-hidden-share.astro";
import * as POSTS from "@pages/posts/posts";
import { url } from "@modules/site";
import { micromark } from "micromark";
import { gfm, gfmHtml } from "micromark-extension-gfm";


export async function getStaticPaths() {
  const posts = await POSTS.getCollection(() => true);

  return posts.map((entry) => ({
    params: { post_slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: POSTS.CollectionEntry;
}

const { entry } = Astro.props;

const simpleHTMLBody = micromark(entry.body, {
  extensions: [gfm()],
  htmlExtensions: [gfmHtml()],
});
---

<Layout entry={entry}>
  <div class="prose">
    <p
      class="bg-yellow-100 p-6 text-yellow-800 border-yellow-800 border-0 border-l-4"
    >
      ⚠️ This is a share page.
    </p>

    <small>
      ⇠ <a href={`/${entry.slug}`}>Back to main post</a>
    </small>
    <main class="mt-4 prose-xl p-12 py-40">
      <h1 class="tracking-tight" style="font-size: 1.25em">{entry.data.title}</h1>
      <div set:html={simpleHTMLBody} />
    </main>
    <footer>
      <small>
        <ShareBar entry={entry} />
      </small>
      {
        entry.data.references && (
          <small>
            <h2>References</h2>
            <ol>
              {entry.data.references.map(
                (reference: POSTS.CollectionEntry["data"]["references"][0]) => (
                  <li>
                    <a href={reference} target="_blank">
                      {reference}
                    </a>
                  </li>
                )
              )}
            </ol>
          </small>
        )
      }
    </footer>
    <BodyHiddenShare entry={entry} />
  </div>
  <PostMeta
    slot="page-meta"
    title={entry.data.title}
    description={entry.data.description}
    og={entry.data.og}
    path={entry.slug}
  >
    <!-- canonical url -->
    <link rel="canonical" href={url(entry.slug)} />
  </PostMeta>
</Layout>
