---
import Layout from './_layout.astro'
import * as GUIDE_STEPS from '#content/guide_steps/_guide_steps'
import {renderEntry} from '#lib/content-entry'

export async function getStaticPaths() {
	const entries = await GUIDE_STEPS.getCollection()

	return entries
		.filter((entry) => !GUIDE_STEPS.isGuideIndex(entry))
		.map((entry) => ({
			params: {
				guide_slug: GUIDE_STEPS.guideSlug(entry),
				guide_step_slug: GUIDE_STEPS.stepSlug(entry) ?? undefined,
			},
			props: {entry},
		}))
}

interface Props {
	entry: GUIDE_STEPS.CollectionEntry
}

const {entry} = Astro.props
const {Content} = await renderEntry(entry)
---

<Layout>
	<h1>{entry.data.title}</h1>
	<Content />
</Layout>
