---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as LESSONS from "@pages/lessons/lessons";

export async function getStaticPaths() {
  const lessons = await LESSONS.getCollection();

  const result = lessons
    .filter((entry) => entry.slug.split("/").length === 2)
    .map((entry) => {
      const [course_name, lesson_name] = entry.slug.split("/");

      return {
        params: {
          course_name,
          lesson_name,
        },
        props: { entry, course_name },
      };
    });

  return result;
}

interface Props {
  entry: LESSONS.CollectionEntry;
  course_name: string;
}

const { entry, course_name } = Astro.props;
const { Content } = await entry.render();
---

<Layout content_path={LESSONS.path(entry.id)}>
  <main class="prose">
    oenuth
    <h1>
      <a href={`/${LESSONS.path(course_name)}`}>{entry.data.title}</a>
    </h1>
    <Content />
  </main>
  <PostMeta
    title={String(entry.data.title)}
    path={LESSONS.path(entry.slug)}
    slot="page-meta"
  />
</Layout>
