---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as LESSONS from "@pages/lessons/lessons";
import * as site from "@modules/site";

export async function getStaticPaths() {
  let lessons = await LESSONS.getCollection();

  let course_years = lessons.reduce(
    (
      courses: { [index: string]: string[] },
      lesson: LESSONS.CollectionEntry
    ) => {
      let [course_name, year] = lesson.slug.split("/");

      if (courses?.[course_name]?.includes(year)) {
        return courses;
      }

      if (courses?.[course_name]) {
        return {
          ...courses,
          [course_name]: [...courses[course_name], year],
        };
      }

      return { ...courses, [course_name]: [year] };
    },
    {}
  );

  return Object.entries(course_years).map(
    ([course_name, years]) => ({
      params: {
        course_name,
      },
      props: { years },
    })
  );
}

interface Props {
  years: string[];
}

const { course_name } = Astro.params;
const { years } = Astro.props;
---

<Layout content_path={LESSONS.path(String(course_name))}>
  <main class="prose">
    <h1>{course_name}</h1>
    <ul>
      {
        years.map((year) => (
          <li>
            <a
              href={`/${LESSONS.path(
                String(course_name),
                String(year)
              )}`}
            >
              {year}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    title={`chantastic course: ${course_name}`}
    url={site.url(LESSONS.path(String(course_name)))}
    slot="page-meta"
  />
</Layout>
