---
import type {CollectionEntry} from 'astro:content'
import {entrySlug} from '#lib/content-entry'

export interface Props {
	posts: CollectionEntry<'posts'>[]
}

const {posts} = Astro.props
---

<ul>
	{
		posts.map((post) => (
			<li>
				<a href={`/${entrySlug(post)}`}>{post.data.title}</a>
			</li>
		))
	}
</ul>
