---
import GoogleFonts from "@components/header-google-fonts.astro";
import GlobalStyles from "@components/header-global-styles.astro";
import HeadAnalytics from "@components/head-analytics.astro";
import site from "@src/metadata.json";
import * as SITE from "@modules/site";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title=`RSS Feed for ${site.title}`
      href={`${site.feed.path}/${site.feed.rssFilename}`}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <GoogleFonts />
    <GlobalStyles />
    <HeadAnalytics />
    <slot name="page-meta">
      <title>
        {SITE.appendSiteTitle(site.title)}
      </title>
    </slot>
  </head>
  <body style="padding: 1rem" id="body">
    <slot />
  </body><style is:global>
    #body:is(:target) a[href*="TODO"] {
      color: red;
    }
  </style>
</html>
