---
import Layout from '#layouts/Layout.astro'
import PostMeta from '#components/header-post-meta.astro'
import * as LESSONS from '#content/lessons/_lessons'
import Prose from '#components/prose.astro'
import {titleCase} from 'title-case'
import React from 'react'

export async function getStaticPaths() {
	const lessons = await LESSONS.getCollection((entry) => {
		return entry
	})

	const result = [
		...new Set(
			lessons
				.map((entry) => {
					const params = entry.slug
						.split('/')
						.slice(0, 2)
						.join('/')
					return params
				})
				.filter(Boolean)
		),
	].map((entry_slug_segments) => {
		let [collection_name, course_name] =
			entry_slug_segments.split('/')
		return {
			params: {
				collection_name,
				course_name,
			},
			props: {
				entry: {
					collection_name,
					course_name,
					slug: entry_slug_segments,
				},
			},
		}
	})

	return result
}

interface Props {
	entry: {
		course_name: string
		slug: string
	}
}

const {entry} = Astro.props

const lessons = await LESSONS.getCollection(
	(collection_entry) => {
		return collection_entry.slug.startsWith(entry.slug)
	}
)

lessons.sort((a, b) => a.data.order - b.data.order)
---

<Layout>
	<Prose as="main">
		<h1>{titleCase(entry.course_name.split('-').join(' '))}</h1>
		<h2 id="Complete">Complete</h2>
		<table>
			<thead><tr><td>status</td><td>count</td></tr></thead>
			<tbody>
				{
					Object.entries(
						lessons.reduce((acc, lesson) => {
							return {
								...acc,
								[lesson.data.status]:
									(acc[lesson.data.status] || 0) + 1,
							}
						}, {})
					).map(([status, count]) => (
						<tr>
							<td>{status}</td>
							<td>{count}</td>
						</tr>
					))
				}
			</tbody>
		</table>
		<h2 id="outline">Outline</h2>
		<ol class="list-none p-0">
			{
				lessons.slice().map((lesson) => {
					return (
						<li>
							<a href={`/lessons/${lesson.slug}`}>
								{lesson.data.order}: {lesson.data.title}
							</a>
							{lesson.data.status && ` [${lesson.data.status}]`}
						</li>
					)
				})
			}
		</ol>
		<PostMeta
			title={String(entry.slug)}
			path={LESSONS.path(entry.slug)}
			slot="page-meta"
		/>
	</Prose>
</Layout>
