---
import Layout from '#layouts/Layout.astro'
import * as GUIDE_STEPS from '#pages/guides/[topic]/[scope]/guide_steps'
import * as GUIDES from '#pages/guides/guides'
import Prose from '#components/prose.astro'

export async function getStaticPaths() {
	const entries = await GUIDE_STEPS.getCollection()

	const guides = GUIDES.getCollection(entries)

	return guides.map(({topic, scope}) => ({
		params: {topic: topic, scope: scope},
		props: {
			entries: entries.filter(
				(entry: GUIDE_STEPS.CollectionEntry) =>
					entry.slug.includes(`${topic}/${scope}/`)
			),
		},
	}))
}

interface Props {
	entries: GUIDE_STEPS.CollectionEntry[]
}

const {entries} = Astro.props
const {params} = Astro
---

<Layout>
	<Prose>
		<small>
			⇠ <a href="/">chan.dev</a>
		</small>
		<main class="mt-4">
			<h1 class="tracking-tight">
				Guides / {params.topic} / {params.scope}
			</h1>
			<ul>
				{
					entries.map((entry) => (
						<li>
							<a href={`/guides/${entry.slug}`}>
								{entry.data.title}
							</a>
						</li>
					))
				}
			</ul>
		</main>
	</Prose>
</Layout>
