---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import Nerd from "@components/main-nerd.astro";
import { getCollection, CollectionEntry } from "astro:content";
import * as site from "@modules/site";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { post_slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <main class="prose">
    <article>
      <small>
        <a href="/" class="go-home">⇠ chan.dev</a>
      </small>
      <h1 class="mb-2 mt-6">
        {entry.data.title}
      </h1>
      <Content />
    </article>
  </main>
  <PostMeta
    slot="page-meta"
    title={entry.data.title}
    description={entry.data.description}
    og={entry.data.og}
    url={site.url(entry.slug)}
  />
  <Nerd content_path={`${site.url(entry.id)}`} />
</Layout>
