---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as POSTS from "@pages/posts/posts";

export async function getStaticPaths() {
  const posts = await POSTS.getCollection(() => true);

  return posts.map((entry) => ({
    params: { post_slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: POSTS.CollectionEntry;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout content_path={POSTS.path(entry.id)} entry={entry}>
  <div class="prose">
    <small>
      ⇠ <a href="/">chan.dev</a>
      / <a href={`/${POSTS.COLLECTION_NAME}`}>posts</a>
    </small>
    <main class="mt-4">
      <h1>{entry.data.title}</h1>
      {
        !entry.data.publishDate ? (
          <>
            <p class="bg-green-100 p-6 text-green-800 border-green-800 border-0 border-l-4">
              🌱 This post is in the growth phase. It may still
              be useful as it grows up.
            </p>
            <Content />
          </>
        ) : (
          <Content />
        )
      }
    </main>
    <footer>
      <a
        target="_blank"
        rel="noreferrer noopener"
        href=`https://github.com/chantastic/sites/blob/main/chan.dev/src/content/${POSTS.path(entry.id)}`
        >Edit on GitHub</a
      >
      {
        entry.data.references && (
          <small>
            <h2>References</h2>
            <ol>
              {entry.data.references.map((reference) => (
                <li>
                  <a href={reference} target="_blank">
                    {reference}
                  </a>
                </li>
              ))}
            </ol>
          </small>
        )
      }
    </footer>
  </div>
  <PostMeta
    slot="page-meta"
    title={entry.data.title}
    description={entry.data.description}
    og={entry.data.og}
    path={entry.slug}
  />
</Layout>
