---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as OS from "@pages/os/os";

export async function getStaticPaths() {
  const posts = await OS.getCollection();

  return posts.map((entry) => ({
    params: { os_entry: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: OS.CollectionEntry;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout content_path={OS.path(entry.id)}>
  <main class="prose">
    <article>
      <small>
        <a href="/" class="go-home">⇠ chan.dev</a>
      </small>
      <h1 class="mb-2 mt-6">
        <a href={`/${OS.path()}`}
          >{entry.collection.toUpperCase()}</a
        > /
        {entry.data.title}
      </h1>
      <Content />
    </article>
  </main>
  <PostMeta
    slot="page-meta"
    title={entry.data.title}
    path={OS.path(entry.slug)}
  />
</Layout>
