---
import Layout from '#layouts/Layout.astro'
import PostMeta from '#components/header-post-meta.astro'
import * as RECIPES from '#content/recipes/_recipes'
import Prose from '#components/prose.astro'

export async function getStaticPaths() {
	const entries = await RECIPES.getCollection()

	return entries.map((entry) => ({
		params: {recipe_slug: entry.slug},
		props: {
			entry,
		},
	}))
}

interface Props {
	entry: RECIPES.CollectionEntry
}

const {entry} = Astro.props
const {Content} = await entry.render()
---

<Layout>
	<Prose>
		<small>
			⇠ <a href="/">chan.dev</a>
			/ <a href={`/${RECIPES.path()}`}
				>{RECIPES.COLLECTION_NAME}</a
			>
		</small>
		<main class="mt-4">
			<h1 class="tracking-tight">{entry.data.title}</h1>
			<Content />
		</main>
	</Prose>
	<PostMeta
		slot="page-meta"
		title={RECIPES.title(entry.data.title)}
		path={RECIPES.path(entry.slug)}
	/>
</Layout>
