---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as LESSONS from "@pages/lessons/lessons";

export async function getStaticPaths() {
  const lessons = await LESSONS.getCollection();

  const result = lessons
    .filter((entry) => entry.slug.split("/").length === 3)
    .map((entry) => {
      const [course_name, year, lesson_name] = entry.slug.split("/");

      return {
        params: {
          course_name,
          year,
          lesson_name,
        },
        props: { entry, course_name, year },
      };
    });

  return result;
}

interface Props {
  entry: LESSONS.CollectionEntry;
  course_name: string;
  year: string;
}

const { entry, course_name, year } = Astro.props;
const { Content } = await entry.render();
---

<Layout content_path={LESSONS.path(entry.id)}>
  <div class="prose">
    <small>
      ⇠ <a href="/">chan.dev</a>
      / <a href={`/${LESSONS.path()}`}>lessons</a>
      / <a href={`/${LESSONS.path(course_name)}`}>{course_name}</a>
      / <a href={`/${LESSONS.path(course_name, year)}`}>{year}</a>
    </small>
    <main class="mt-4">
      <h1>
        {entry.data.title}
        {year}
      </h1>
      {
        entry.data.keys && (
          <>
            {entry.data.keys.map((key) => (
              <kbd>{key}</kbd>
            ))}
          </>
        )
      }
      <Content />
    </main>
    <PostMeta
      title={String(entry.data.title)}
      path={LESSONS.path(entry.slug)}
      slot="page-meta"
    />
  </div>
</Layout>
