---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as LESSONS from "@pages/lessons/lessons";

export async function getStaticPaths() {
  const lessons = await LESSONS.getCollection();

  const result = lessons.map((entry) => {
    const [course_name, year, lesson_name] =
      entry.slug.split("/");

    return {
      params: {
        course_name,
        year,
        lesson_name,
      },
      props: { entry },
    };
  });

  return result;
}

interface Props {
  entry: LESSONS.CollectionEntry;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout content_path={LESSONS.path(entry.id)}>
  <main class="prose">
    <h1>{entry.data.title}</h1>
    {
      entry.data.keys && (
        <>
          {entry.data.keys.map((key) => (
            <kbd>{key}</kbd>
          ))}
        </>
      )
    }
    <Content />
  </main>
  <PostMeta
    title={String(entry.data.title)}
    path={LESSONS.path(entry.slug)}
    slot="page-meta"
  />
</Layout>
