---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as LESSONS from "@pages/lessons/lessons";

export async function getStaticPaths() {
  const lessons = await LESSONS.getCollection();

  const course_years = [
    ...new Set(
      lessons.map((entry) => {
        const [course, year] = entry.slug.split("/");
        // returning a string because Set won't dedup complex objects
        return [course, year].join("|");
      })
    ),
  ];

  const result = course_years.map((course_year) => {
    const [course_name, year] = course_year.split("|");

    return {
      params: { course_name, year },
      props: {
        entries: lessons.filter((entry) =>
          entry.slug.includes(`${course_name}/${year}`)
        ),
      },
    };
  });

  return result;
}

interface Props {
  entries: LESSONS.CollectionEntry[];
}

const { course_name, year } = Astro.params;
const { entries } = Astro.props;

const content_path = LESSONS.path(
  String(course_name),
  String(year)
);
---

<Layout content_path={content_path}>
  <main class="prose">
    <h1>{course_name} {year}</h1>
    <ul>
      {
        entries.map((entry) => (
          <li>
            <a href={`/${LESSONS.path(entry.slug)}`}>
              {entry.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    title={`chantastic course: ${course_name}, ${year}`}
    path={content_path}
    slot="page-meta"
  />
</Layout>
