---
import Layout from "@layouts/Layout.astro";
import * as POSTS from "@pages/posts/posts";
import PostMeta from "@components/header-post-meta.astro";

export async function getStaticPaths() {
  const posts = await POSTS.getCollection(({ data }) => {
    if (data.tags) {
      return true;
    }
    return false;
  });

  const tags = [
    ...new Set(
      posts
        .map((post) => post.data.tags)
        .filter(Boolean)
        .flat()
    ),
  ];

  return tags.map((tag_name) => ({
    params: { tag_name },
    props: {
      entries: posts.filter((post) =>
        post.data.tags?.includes(tag_name as string)
      ),
    },
  }));
}

interface Props {
  entries: POSTS.CollectionEntry[];
}

const { tag_name } = Astro.params;
const { entries } = Astro.props;
---

<Layout>
  <div class="prose">
    <small>
      ⇠ <a href="/">chan.dev</a>
      / <a href={`/tags`}>tags</a>
    </small>
    <main class="mb-4">
      <h1 class="tracking-tight">Tag: {tag_name}</h1>
      <ul>
        {
          entries.map((entry) => (
            <li>
              <a href={`/${entry.slug}`}>{entry.data.title}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </div>
  <PostMeta
    slot="page-meta"
    title={`chantastic posts tagged: ${tag_name}`}
    path={`/tags/${tag_name}`}
  />
</Layout>
